body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: dimgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container1 {
  display: block;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.container2 {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  width: 500px;
}

.Text1 {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  width: 500px;
}

.card {
  background: black;
  color: #ffff;
  border: 1px solid #ffffff;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

.selec input {
  background-color: #ffff;
  cursor: text;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 2px;
  display: block;
}

.selec button {
  background-color: black;
  color: #ffff;
  cursor: pointer;
  width: 500px;
  margin: 0 auto;
  display: block;
}

.post {
  background-color: #ffff;
  border: 2px solid #333;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 1px 1px 1px;
  visibility: hidden;
}

.link {
  background-color: #ffff;
  border: 2px solid #333;
  width: 500px;
  margin: 0 auto;
  visibility: visible;
}

.warning {
  background-color: #ffff;
  border: 2px solid #333;
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  visibility: visible;
}